@page
@model HSEPLUS.Pages.Admin.Occupation.IndexModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].occupation_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].occupation_type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].created_at)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Occupation[0].updated_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Occupation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.occupation_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.occupation_type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.created_at)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.updated_at)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
