@page
@model HSEPLUS.Pages.Admin.Users.IndexModel
@{}

<div class="pc-container">
    <div class="pc-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a asp-page="Index">Home</a></li>
                    @* <li class="breadcrumb-item"><a href="javascript: void(0)">Online Courses</a></li> *@
                    <li class="breadcrumb-item" aria-current="page">لیست کارکنان</li>
                </ul>
                <div class="page-header-title">
                    <h2 class="mb-0">لیست کارکنان</h2>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <!-- [ Main Content ] start -->
        <div class="grid grid-cols-12 gap-x-6">
            <div class="col-span-12">
                <div class="card table-card">
                    <div class="card-header">
                        <div class="sm:flex items-center justify-between">
                            <h5 class="mb-3 sm:mb-0">Teacher list</h5>
                            <div>
                                <a asp-page="/Admin/Users/Create" class="btn btn-primary">اضافه کردن کاربر</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-3">
                        <div class="table-responsive">
                            <table class="table table-hover" id="pc-dt-simple">
                                <thead>

                                <tr>
                                        <th> @Html.DisplayNameFor(model => model.Users[0].image)</th>
                                        <th> @Html.DisplayNameFor(model => model.Users[0].name)</th>
                                        <th> @Html.DisplayNameFor(model => model.Users[0].mobile)</th>
                                        <th> @Html.DisplayNameFor(model => model.Users[0].register_code)</th>
                                        <th> @Html.DisplayNameFor(model => model.Users[0].national_code)</th>
                                        <th>عملیات</th>
                                </tr>
                                </thead>
                                <tbody>
                                @foreach (var item in Model.Users)
                                {
                                    <tr>
                                        <td>
                                            <div class="flex items-center">
                                                <div class="shrink-0">
                                                    <img src="~/favicon.ico" alt="user image" class="rounded-full w-10"/>
                                                </div>
                                            </div>
                                        </td>
                                            <td>@Html.DisplayFor(modelItem => item.name)</td>
                                            <td>@Html.DisplayFor(modelItem => item.mobile)</td>
                                            <td>@Html.DisplayFor(modelItem => item.register_code)</td>
                                            <td>@Html.DisplayFor(modelItem => item.national_code)</td>
                                            <td>
                                            <a href="#" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                <i class="ti ti-eye text-xl leading-none"></i>
                                            </a>
                                            <a asp-page="/Admin/Users/Edit" asp-route-id="@item.id" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                <i class="ti ti-edit text-xl leading-none"></i>
                                            </a>
                                            <a href="#" class="w-8 h-8 rounded-xl inline-flex items-center justify-center btn-link-secondary">
                                                <i class="ti ti-trash text-xl leading-none"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                                </tbody>
                               
                            </table>
                            <div class="card-body pc-component">
                                <div class="flex flex-wrap gap-2" role="toolbar">
                                    <div class="inline-flex items-center" role="group">
                                        <button type="button" class="btn btn-light-secondary ltr:rounded-r-none rtl:rounded-l-none">1</button>
                                        <button type="button" class="btn btn-light-secondary rounded-none">2</button>
                                        <button type="button" class="btn btn-light-secondary rounded-none">3</button>
                                        <button type="button" class="btn btn-light-secondary ltr:rounded-l-none rtl:rounded-r-none">4</button>
                                    </div>
                                    <div class="inline-flex items-center" role="group">
                                        <button type="button" class="btn btn-light-secondary ltr:rounded-r-none rtl:rounded-l-none">5</button>
                                        <button type="button" class="btn btn-light-secondary rounded-none">6</button>
                                        <button type="button" class="btn btn-light-secondary ltr:rounded-l-none rtl:rounded-r-none">7</button>
                                    </div>
                                    <div class="inline-flex items-center" role="group">
                                        <button type="button" class="btn btn-light-secondary">8</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
</div>
